beautifulsoup4==4.12.3
bert_score==0.3.13
chromadb==0.5.3
datasets==2.20.0
elasticsearch==8.15.0
faster_whisper==1.0.2
fire==0.6.0
gradio==4.42.0
Jinja2==3.1.4
langchain==0.2.15
nltk==3.8.1
numpy
pandas==2.2.2
Pillow==10.4.0
playwright==1.44.0
psycopg2==2.9.9
pyannote.audio
pyaudio
pymupdf==1.24.9
pypandoc==1.13
pypandoc_binary==1.13
PyYAML==6.0.2
Requests==2.32.3
rouge_score==0.1.2
sacrebleu==2.4.2
scikit_learn==1.5.1
sentence_transformers==3.0.1
streamlit==1.38.0
tenacity==8.5.0
textstat==0.7.4
tiktoken==0.7.0
#torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu124 --force-reinstall --no-cache
tqdm==4.66.4
trafilatura==1.9.0
transformers==4.41.1
typing-extensions==4.9.0
yt_dlp==2024.8.6


