arxiv
beautifulsoup4
bert_score
chardet
chromadb
docx2txt
EbookLib
elasticsearch
fastapi
faster_whisper
fire
FlashRank
fugashi
gradio
jieba
Jinja2
joblib
langchain
langdetect
lxml_html_clean
mwparserfromhell
mwxml
nltk
numpy
onnxruntime
openai
pandas
Pillow
playwright
psycopg2
#psycopg2-binary
pyannote.audio
PyAudio
pydub
pymupdf
pypandoc
pypandoc_binary
pytest
python-dotenv
python-json-logger
PyYAML
Requests
rouge_score
sacrebleu
scikit_learn
sentence_transformers
SQLAlchemy
streamlit
tenacity
textstat
tiktoken
toml
tqdm
trafilatura
transformers
urllib3
yt_dlp
datasets
tqdm
--index-url https://download.pytorch.org/whl/cu124
--extra-index-url https://pypi.org/simple
torch
torchaudio
torchvision
