accelerate
aiofiles
altair
annotated-types
anyio
attrs
av
Brotli
bs4
certifi
charset-normalizer
click
colorama
coloredlogs
contourpy
ctranslate2
cycler
dnspython
email_validator
fastapi
fastapi-cli
faster-whisper
ffmpeg
ffmpy
filelock
fire
flatbuffers
fonttools
fsspec
gradio
gradio_client
h11
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib_resources
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
mutagen
networkx
numpy
onnxruntime
openai
orjson
packaging
pandas
pillow
playwright
protobuf
psutil
pycryptodomex
pydantic
pydantic_core
pydub
pyee
Pygments
pyparsing
pyreadline3
python-dateutil
python-dotenv
python-ffmpeg
python-multipart
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
ruff
safetensors
semantic-version
sentencepiece
setuptools
shellingham
six
sniffio
starlette
sympy
termcolor
timm
tokenizers
tomlkit
toolz
torchvision
tqdm
trafilatura
transformers
typer
typing_extensions
tzdata
ujson
urllib3
uvicorn
watchfiles
websockets
yt-dlp
nltk
torch
torchaudio
openai
tiktoken