# Requirements.txt for tldw Server API. Sorted into categories.
# Audio
av  # For audio encoding/streaming
faster_whisper
kokoro_onnx
nemo_toolkit[asr]
huggingface_hub
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
PyAudio
sounddevice
soundfile
#
# API-Server
aiofiles
aioresponses
asyncpg
aiosqlite
apscheduler
bleach
cachetools
defusedxml
email-validator
fastapi
hypothesis
loguru
lxml
numpy
pandas
passlib
psutil
pydantic
pydantic_core
pydantic[email]
pytest
python-dotenv
python-jose
python_magic
python-multipart
prometheus-client
pynvml
PyYAML
redis
scikit_learn
scipy
slowapi
starlette
toml
tomli
tqdm
# API-Server AuthN/AuthZ/Security
keyring
puremagic
pycryptodomex
PyJWT
yara_python
#
# Chunking/Languages
chardet
fugashi
jieba
langdetect
nltk
tiktoken
#
# ETL/Document Parsing
docling
docx2txt
EbookLib
lxml
mwparserfromhell
mwxml
pymupdf
pymupdf4llm
pypandoc
pypandoc_binary
yt_dlp
#
# LLM Inference
onnxruntime
openai
torch
transformers
#
# ONNX Conversion
# mlx  # Optional: for Apple Silicon MLX variant of Parakeet (uncomment if on macOS)
optimum
#
# Re-Ranking
FlashRank
#
# Research
arxiv
#
# VectorDB
chromadb
#
#Web-Related
argon2-cffi
beautifulsoup4
html2text
httpx
urllib3
playwright
playwright_stealth
Requests
tenacity
trafilatura
argon2-cffi==25.1.0