# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-mock
        sudo apt install portaudio19-dev python3-all-dev
        
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test ChromaDB lib functions with pytest
      run: |
        pwd && ls ./Tests && ls ./Tests/ChromaDB && pytest ./Tests/ChromaDB/test_chromadb.py

    - name: Test RAG lib functions with pytest
      run: |
        pytest ./Tests/RAG/test_RAG_Library_2.py
    
    - name: Test SQLite lib functions with pytest
      run: |
        pytest ./Tests/SQLite_DB/.

    - name: Test Utils lib functions with pytest
      run: |
        pytest ./Tests/Utils/test_utils.py
